.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.merriam-webster.com%2Fvideo%2Fis-none-singular-or-plural&psig=AOvVaw341sIHMGFrgoKjVKIcYS_X&ust=1690978398424000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjz0si3u4ADFQAAAAAdAAAAABAR");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dnone&psig=AOvVaw341sIHMGFrgoKjVKIcYS_X&ust=1690978398424000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjz0si3u4ADFQAAAAAdAAAAABAZ");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fm.youtube.com%2Fwatch%3Fv%3DVJJwIMAlgyQ&psig=AOvVaw341sIHMGFrgoKjVKIcYS_X&ust=1690978398424000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjz0si3u4ADFQAAAAAdAAAAABA4");
}
